@import "~bootstrap/scss/bootstrap";

@font-face {
    font-family: "Averia Serif Libre";
    src: url("../fonts/Averia_Serif_Libre.ttf") format("ttf");
}

body {
    background-color: $green-100;
    font-family: "Averia Serif Libre";
}

body a {
    text-decoration: none;
    color: black;
}

body a:hover {
    color: $green-300;
}

.btn-dark {
    color: $green-100 !important;
}

.bc-header {
    color: $green-100;
}

.bc-footer {
    color: $green-100;
    font-size: 1.3rem;
}

.bc-footer a {
    color: $green-100;
    text-decoration: none;
}
